* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 0.3rem;
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  width: 0.2rem;
  background: #666;
  border-radius: 5rem;
}
body {
  background-color: #f5f5f5;
}
header {
  width: 1440px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
nav {
  width: 1240px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 185px;
}
.mano-ul li {
  margin-left: 75px;
  width: 48px;
  height: 24px;
}
.mano-ul li a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}
.mano-ul li a:hover {
  color: #b88e2f;
}
.icon-ul li {
  margin-left: 45px;
}
.icon-ul img {
  width: 28px;
  height: 28px;
}
/* *NAV BER END  */
#container {
  width: 1440px;
  background: #fff;
  margin: auto;
}
.product-box {
  width: 1440px;
  height: 100px;
  background: #f9f1e7;
  padding: 38px 100px;
}
.product-box .row {
  align-items: center;
}
.row .h-box,
.row .s-box {
  width: 82px;
  height: 24px;
  margin-right: 24px;
}
.row .h-box a,
.row .s-box a {
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
  margin-right: 5px;
}
.p-mane {
  width: 142px;
  height: 37px;
  border-left: 2px solid #9f9f9f;
  padding: 6px 0 7px 32px;
}
/* *END  */
.p-ditels {
  width: 1440px;
  height: 820px;
  padding: 45px 100px;
  border-bottom: 1px solid #d9d9d9;
}
.p-ditels .row {
  justify-content: space-between;
}
.p-ditels .left-side {
  width: 530px;
}
.p-ditels .right-side {
  width: 606px;
  height: 730px;
}
.left-side {
  display: flex;
  justify-content: space-between;
}
.left-side .left-img {
  display: flex;
  flex-direction: column;
  width: 76px;
  height: 416px;
}
.left-img .l-img-box {
  width: 76px;
  height: 80px;
  background: #f9f1e7;
  margin-bottom: 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side .right-img {
  border-radius: 10px;
  width: 423px;
  height: 500px;
  background: #f9f1e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-side .right-img img {
  width: 475px;
}
.right-side h2 {
  font-weight: 400;
  font-size: 42px;
  color: #000;
}
.right-side .price {
  font-weight: 500;
  font-size: 24px;
  color: #9f9f9f;
  margin-bottom: 15px;
  display: inline-block;
}
.review-box {
  display: flex;
  margin-bottom: 18px;
}
.review-box .ster-box {
  width: 124px;
  height: 20px;
  margin-right: 18px;
}
.review-box .ster-box i {
  width: 18px;
  height: 18px;
  color: #ffc700;
}
.review-box .review {
  width: 167px;
  height: 30px;
  display: flex;
  align-items: center;
  border-left: 1px solid #9f9f9f;
}
.review-box .review p {
  font-weight: 400;
  font-size: 15px;
  color: #9f9f9f;
  margin-left: 22px;
}
.right-side .discrpson {
  width: 424px;
  margin-bottom: 22px;
}
.right-side p {
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.right-side .size {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
  display: inline-block;
  margin-bottom: 12px;
}
.right-side .size-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 123px;
  margin-bottom: 18px;
}
.right-side .p-s {
  width: 30px;
  height: 30px;
  background: #f9f1e7;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
}
.right-side .p-s-1 {
  background: #b88e2f;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}
.right-side .color {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}
.color-box {
  width: 124px;
  display: flex;
  justify-content: space-between;
  margin: 12px 0 32px 0;
}
.color-box .p-c-1 {
  width: 30px;
  height: 30px;
  background: #816dfa;
  border-radius: 50px;
}
.color-box .p-c-2 {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50px;
}
.color-box .p-c-3 {
  width: 30px;
  height: 30px;
  background: #b88e2f;
  border-radius: 50px;
}
.right-side .row {
  margin-bottom: 60px;
}
.right-side .quantity {
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  width: 123px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right-side .a-cart {
  width: 215px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}

.right-side .compare {
  width: 215px;
  height: 64px;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-side .compare a {
  color: #000;
}
table {
  width: 600px;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}
table .th {
  width: 100px;
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
table tr td {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
  padding: 5px 0;
}
table .td {
  padding: 0 0 0 10px;
}
table tr .td-icon i {
  color: #000;
  font-size: 20px;
  margin: 0 20px 0 10px;
}
/* *Description section stert */
.Description-box {
  width: 1440px;
  height: 744px;
  background: #fff;
}
.Description-box .row {
  width: 664px;
  margin: 48px auto 37px;
  justify-content: space-between;
}
.Description-box .row .d-box a {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.Description-box .row .a-box a,
.Description-box .row .r-box a {
  font-weight: 400;
  font-size: 24px;
  color: #9f9f9f;
}
.d-text {
  width: 1026px;
  height: 174px;
  margin: 121px 207px 36px;
}
.d-text .p-1,
.d-text .p-2 {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  color: #9f9f9f;
}
.d-text .p-2 {
  margin-top: 30px;
}
.d-images {
  display: flex;
  width: 1239px;
  height: 348px;
  margin: auto;
  justify-content: space-between;
}
.d-img-1 {
  width: 605px;
  height: 348px;
  background-color: #f9f1e7;
  border-radius: 10px;
}
.d-img-2 {
  border-radius: 10px;
  width: 605px;
  height: 348px;
  background: #f9f1e7;
}
/* *Description section end  */

/* Related Products stert */
.Related {
  width: 1440px;
  margin: auto;
  height: 777px;
}
.Related h4 {
  font-weight: 500;
  font-size: 36px;
  color: #000;
  text-align: center;
  padding: 55px 26px;
}
.product-boxs {
  width: 1236px;
  height: 446px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-card {
  width: 285px;
  height: 446px;
  position: relative;
  border-radius: 10px;
}
.p-card .p-img {
  width: 285px;
  height: 301px;
}
.p-card .p-img img {
  border-radius: 10px 10px 0 0;
}
.p-card .p-ditel {
  width: 285px;
  height: 145px;
  background: #f4f5f7;
  padding: 16px 20px 30px 16px;
  border-radius: 0 0 10px 10px;
}
.p-ditel h3 a {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3a3a3a;
  margin-bottom: 8px;
  display: inline-block;
}
.p-ditel p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin-bottom: 8px;
  display: inline-block;
}
.p-ditel .p-price {
  width: 249px;
  height: 30px;
}
.p-price .new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #3a3a3a;
}
.p-price .old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: line-through;
  color: #b0b0b0;
}
.p-card .maks {
  width: 48px;
  height: 48px;
  background-color: #e97171;
  text-align: center;
  line-height: 48px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
}
.p-card .new {
  background-color: #2ec1ac;
}
/* *Related Products end */

/* *Related Products hover stert */
.p-card-hover {
  visibility: hidden;
  width: 285px;
  height: 446px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.m-hover-card {
  width: 252px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #b88e2f;
  background-color: #fff;
  padding: 12px 52px;
  width: 202px;
  height: 48px;
}
.m-hover-card .add-btn:hover {
  background: #b88e2f;
  color: #fff;
  transition: 0.3s;
}
.s-c-l-box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 252px;
  height: 24px;
}
.icon-row {
  display: flex;
  align-items: center;
  text-align: center;
}
.icon-row i {
  color: #fff;
  margin-right: 5px;
}
.s-c-l-box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}
.p-card:hover .p-card-hover {
  visibility: visible;
}
.product-box .show-btn {
  padding: 12px 78px;
  background-color: #fff;
  color: #b88e2f;
  font-weight: 600;
  text-align: center;
  margin: 0 490px;
  transition: 0.3s;
  border: 1px solid #b88e2f;
}
.show-btn:hover {
  background-color: #b88e2f;
  color: #fff;
}
/* *Related Products hover end */
/* Related boutton stert  */
.Related .show {
  padding: 12px 75px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #b88e2f;
  display: inline-block;
  border: 1px solid #b88e2f;
  margin: 44px auto 100px 598px;
  transition: 0.3s;
}
.Related .show:hover {
  background-color: #b88e2f;
  color: #fff;
  border: 1px solid #b88e2f;
}
/* *footer stert */
.f-contanier {
  border-top: 1px solid #ddd;
  width: 1440px;
  height: 505px;
  margin: -2px auto 0px;
  padding: 51px 100px 38px;
  background: #fff;
}
.main-footer {
  width: 1133px;
  height: 312px;
  display: flex;
  justify-content: space-between;
}

.Location h4 {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
.Location p {
  width: 285px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
.links-box h4 {
  margin-bottom: 55px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
.links-box li {
  margin-bottom: 45px;
}
.links-box li a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.links-box li a:hover,
.help-box ul li a:hover {
  text-decoration: underline;
  color: #b88e2f;
}
.help-box h4 {
  margin-bottom: 55px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
.help-box ul li {
  margin-bottom: 45px;
}
.help-box ul li a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.Newsletter-box h4 {
  margin-bottom: 53px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
.input-box {
  height: 30px;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 238px;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  border-bottom: 2px solid #000;
  margin-right: 10px;
  color: #9f9f9f;
}
.input-box a {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #000000;
  border-bottom: 2px solid #000;
}
.copy-right-box {
  margin-top: 48px;
  width: 1240.01px;
  height: 59px;
  border-top: 1px solid #ddd;
}
.copy-right-box p {
  margin-top: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
/* *footer end */
html.modal-active,
body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  color: #fff;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: #fff;
  width: 226px;
  height: 162px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: 30px;
  left: 20px;
  color: #000;
}
#modal-container .modal-background .modal p {
  font-size: 20px;
  line-height: 22px;
  color: #000;
}

#modal-container .modal-background .modal a {
  color: #b88e2f;
  font-size: 20px;
  line-height: 22px;
  margin-top: 5px;
  cursor: pointer;
  z-index: 100;
}
#modal-container .modal-background .modal a:hover {
  text-decoration: underline;
}

#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

#modal-container.side {
  transform: scale(1);
}

#modal-container.side .modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0;
  transform: scale(1);
  padding: 0;
  left: auto;
}

#modal-container.side .modal .modal-background {
  transform: scale(1);
}

#modal-container.side {
  animation: sideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.side .modal-background .modal {
  animation: sideModalIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.side.out {
  transform: scale(1);
  animation: sideOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.side.out .modal-background .modal {
  animation: sideModalOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.fa-cart-shopping {
  font-size: 22px;
  color: #000;
  margin-top: 4px;
}
@keyframes sideIn {
  0% {
    opacity: 0;
    background: #fff;
  }
  100% {
    opacity: 1;
    background: rgba(0 0 0 / 50%);
  }
}

@keyframes sideOut {
  100% {
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
  }
}

@keyframes sideModalIn {
  0% {
    opacity: 0;
    transform: scale(1) translateX(240px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes sideModalOut {
  100% {
    transform: translateX(240px);
  }
}
